
body{
	display: flex;
	justify-content: center;
	overflow: visible;
	background-color: #E5F5F8;
}

#container{
	width: 500px;
	padding-top: 135px;
	overflow: visible;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

header{
	position: fixed;
	top: 0%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 95px;
	width: 100%;
	padding: 20px;
	border-radius: 0px 0px 20px 20px;
	z-index: 110;
}

.plan {
	width: 500px;
	margin-bottom: 50px;
}

#formAndErrorBox{
	display: flex;
	flex-direction: column;
}

.salle{
	position: absolute;
	font-size: 13px;
	padding: 3px 7px;
	font-family: 'varela round', arial;
	border-radius: 50px;
	background-color: rgba(48, 205, 230, 20%);
	color: #009ac9;
	backdrop-filter: blur(1px);
}

.focused{
	position: absolute;
	color: red;
	font-size: 13px;
	font-family: 'varela round', arial;
	font-weight: bold;
	background-color: rgba(51, 240, 41, 20%);
    color: #16d900;
    font-size: 13px;
	padding: 3px 7px;
	border-radius: 50px;
	animation: blinker 1.2s linear infinite;
}

@keyframes blinker {
  	0% {
   	opacity: 100;
 	 }

 	60% {
   	opacity: 100;
 	 }

 	80% {
   	opacity: 0;
 	 }
}

form{
	position: relative;
	display: flex;
	align-items: center;
}

#searchBar{
	padding: 10px 15px 10px 15px;
	font-size: 20px;
	font-family: poppins, arial;
	width: 300px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 40%);
	outline: none;
	border-style: none;
	border-radius: 100px;
}

#searchButton{
	margin-top: auto;
	margin-bottom: auto;
	position: absolute;
	right: 0%;
	border-style: none;
	outline: none;
	background: linear-gradient(45deg, #00D5F6, #00C3F6);
	cursor: pointer;
	color: white;
	font-family: poppins, arial;
	font-weight: 700;
	font-size: 20px;
	border-radius: 50px;
	padding: 5px 15px 5px 15px;
	right: 5px;
}

.menuBox{
	display: flex;
	flex-direction: row;
}

.optionButton{
	padding: 8px 8px 0px 8px;
	height: auto;
	width: 110px;
	background-color: white;
	border-style: none;
	outline: none;
	border-radius: 10px;
	font-family: poppins, arial;
	font-weight: 600;
	color: black;
	font-size: 15px;
	cursor: pointer;
	position: relative;
}

#ombreBleue{
	box-shadow: 0px 2px 15px rgba(5, 186, 255, 60%);
}

#ombreVerte{
	box-shadow: 0px 2px 15px rgba(73, 215, 163, 70%);
}

#ombreRose{
	box-shadow: 0px 2px 15px rgba(233, 110, 255, 60%);
}

#optionA{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 200;
	top: 0%;
	left: 0%;
}

.optionSeparation{
	width: 20px;
	height: 20px;
}

#erreurEntree{
	color: red;
	font-weight: 600;
	font-family: 'varela round', arial;
	font-size: 20px;
}

#indicationEtage{
	position: fixed;
	background-color: white;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 40%);
	padding: 7px 15px 7px 15px;
	font-family: poppins, arial;
	font-weight: 600;
	font-size: 16px;
	border-radius: 50px;
	bottom: 90px;
	left: 20px;
	z-index: 200;
}

footer{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	bottom: 0%;
}

footer p{
	font-family: 'varela round', arial;
	font-size: 17px;
	display: flex;
	align-items: center;
}

footer img{
	height: 30px;
}

.optionImg{
	height: 70px;
}


#menu{
	display: none;
	position: fixed;
	background-color: white;
	border: 10px solid #E5F5F8;
	border-width: 0px;
	height: 400px;
	width: 100vw;
	max-width: 700px;
	z-index: 999;
	bottom: 0%;
	right: 0%;
	border-radius: 20px 20px 0px 0px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 40%);
	padding: 30px 20px 30px 20px;
}

#logo_site{
	display: block;
	height: 80px;
	margin-right: auto;
	margin-left: auto;
}

#openMenuButton{
	background-color: white;
	position: fixed;
	bottom: 0%;
	border: none;
	outline: none;
	width: 100%;
	right: 0%;
	height: 45px;
	border-radius: 20px 20px 0px 0px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 40%);
}

#openMenuButton img {
	height: 30px;
	transform: rotate(-90deg);
}

#closeMenuButton{
	position: absolute;
	height: 45px;
	width: 45px;
	top: 20px;
	right: 20px;
	font-family: 'varela round', arial;
	font-size: 30px;
	font-weight: bold;
	border-radius: 50px;
	background-color: #ebebeb;
	color: black;
	border: none;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;

}

.menuTitle{
	font-family: poppins, arial;
	font-weight: 700;
	font-size: 17px;
}


#flaubert{
	top: 690px;
	left: 175px;
}

#eiffel{
	top: 630px;
	left: 205px;
}

#daumnier{
	top: 540px;
	left: 210px;
}

#colette{
	top: 450px;
	left: 230px;
}

#voltaire{
	top: 825px;
	left: 220px;
	transform: rotate(70deg);
}

#tchekov{
	top: 820px;
	left: 247px;
	transform: rotate(70deg);
}

#sand{
	top: 815px;
	left: 285px;
	transform: rotate(70deg);
}

#rimbaud{
	top: 800px;
	left: 305px;
	transform: rotate(70deg);
}

#quesnay{
	top: 800px;
	left: 360px;
	transform: rotate(70deg);
}

#plank{
	top: 700px;
	left: 400px;
}

#ohm{
	top: 715px;
	left: 335px;
}

#mozart{
	top: 660px;
	left: 320px;
}

#marconi{
	top: 620px;
	left: 305px;
}

#newton{
	top: 615px;
	left: 380px;
}

#laplace{
	top: 550px;
	left: 380px;
}

#kepler{
	top: 520px;
	left: 325px;
}

#isabey{
	top: 470px;
	left: 320px;
}

#jacquard{
	top: 485px;
	left: 380px;
}

#gay-lussac{
	top: 380px;
	left: 350px;
}

#harvey{
	top: 380px;
	left: 440px;
}

#fleming{
	top: 310px;
	left: 435px;
}

#einstein{
	top: 310px;
	left: 360px;
}

#darwin{
	top: 230px;
	left: 435px;
}

#boole{
	top: 195px;
	left: 440px;
}

#becquerel{
	top: 160px;
	left: 430px;
}

#ampère{
	top: 160px;
	left: 360px;
}

#cuvier{
	top: 205px;
	left: 370px;
}

#pasteur{
	top: 207px;
	left: 215px;
}

#de-gennes{
	top: 207px;
	left: 135px;
}

#bach{
	top: 315px;
	left: 230px;
}

/* etage 1 */

#molière{
	top: 610px;
	left: 75px;
}

#kipling{
	top: 565px;
	left: 90px;
}

#ibsen{
	top: 510px;
	left: 110px;
}

#nabokov{
	top: 625px;
	left: 175px;
}

#lamartine{
	top: 580px;
	left: 185px;
}

#jussien{
	top: 530px;
	left: 205px;
}

#hérodote{
	top: 440px;
	left: 215px;
}

#froissart{
	top: 390px;
	left: 220px;
}

#dumas{
	top: 340px;
	left: 230px;
}

#baudelaire{
	top: 275px;
	left: 225px;
}

#apollinaire{
	top: 265px;
	left: 115px;
}

#chenier{
	top: 320px;
	left: 125px;
}

#euripide{
	top: 380px;
	left: 115px;
}

#giraudoux{
	top: 430px;
	left: 105px;
}

#kafka{
	top: 695px;
	left: 275px;
}

#nerval{
	top: 795px;
	left: 240px;
	transform: rotate(70deg);
}

#leibniz{
	top: 783px;
	left: 267px;
	transform: rotate(70deg);
}

#joinville {
	top: 775px;
	left: 293px;
	transform: rotate(70deg);
}

#ingres{
	top: 740px;
	left: 355px;
}

#hugo{
	top: 665px;
	left: 360px;
}

#galilée{
	top: 610px;
	left: 345px;
}

#fermat{
	top: 560px;
	left: 335px;
}

#erasme{
	top: 515px;
	left: 328px;
}

#dante{
	top: 435px;
	left: 348px;
}

#copernic{
	top: 385px;
	left: 337px;
}

#bude{
	top: 335px;
	left: 360px;
}

#avicenne{
	top: 280px;
	left: 345px;
}

#stendhal{
	top: 170px;
	left: 265px;
}

#pascal{
	top: 170px;
	left: 210px;
}

#cervantes{
	top: 170px;
	left: 140px;
}