
html{
	background-color: #448a91;
}

body{
	max-width: 500px;
}

header{
	position: fixed;
	height: auto;
	display: flex;
	z-index: 100;
	width: 460px;
}

header #btnBox{
	display: flex;
}

header .btn{
	height: 50px;
	width: 50px;
	background: white;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
	border: 1px solid #DEDEDE;
}

header #settingsBtn{
	margin-right: 15px;
}

header .btn img{
	height: 25px;
}

img{
	z-index: 1;
}

#layersChoiceBox{
	display: none;
	flex-direction: column;
	position: absolute;
	top: 65px;
	background-color: white;
	border-radius: 18px;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}

#layersChoiceBox #head{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	border-radius: 18px 18px 0px 0px;
	background: rgb(0,137,255);
	background: linear-gradient(145deg, rgba(0,137,255,1) 0%, rgba(0,185,255,1) 100%);
	color: white;
	font-family: 'poppins', 'arial';
	font-size: 20px;
	font-weight: 700;
}

#layersChoiceBox #body{
	padding: 20px;
	padding-bottom: 10px;
	padding-top: 20px;
	display: flex;
	flex-direction: row;
}

#layersChoiceBox .container{
	width: auto;
	text-align: center;
	justify-content: center;
	align-items: flex-start;
}

.buttona{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: auto;
	border-style: none;
	outline: none;
	background-color: transparent;
	padding: 0px;
}

#layersChoiceBox .container .imgBox{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 10px;
	height: 30px;
	width: 30px;
}

#layersChoiceBox .container #img1{
	background-color: #ECDFFF;
}

#layersChoiceBox .container #img2{
	background-color: #FFEBCE;
}

#layersChoiceBox .container #img3{
	background-color: #CEEBFF;
}

#layersChoiceBox .container .imgBox img{
	height: 25px;
	width: 25px;
}

#layersChoiceBox .container .text{
	font-family: 'poppins', 'arial';
	font-weight: 400;
	font-size: 12px;
}

#layersChoiceBox .container #text1{
	color: #6500B1;
}

#layersChoiceBox .container #text2{
	color: #CA5A04;
}

#layersChoiceBox .container #text3{
	color: #0053B1;
}

#layersChoiceBox .separation{
	height: 50px;
	width: 30px;
}



#settingsBox{
	display: none;
	flex-direction: column;
	position: absolute;
	top: 65px;
	background-color: white;
	border-radius: 18px;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
	width: 300px;
}

#settingsBox #head{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
	border-radius: 18px 18px 0px 0px;
	background: rgb(0,137,255);
	background: linear-gradient(145deg, rgba(0,137,255,1) 0%, rgba(0,185,255,1) 100%);
	color: white;
	font-family: 'poppins', 'arial';
	font-size: 20px;
	font-weight: 700;
}

#settingsBox #body{
	padding: 20px;
	padding-top: 10px;
}

#settingsBox .title{
	color: #515151;
	font-family: 'poppins', 'arial';
	font-size: 15px;
	font-weight: 700;
}

.setting{
	display: flex;
	align-items: center;
	height: 45px;
	cursor: pointer;
	background-color: transparent;
	border-style: none;
	outline: none;
}

#settingsBox .setting .settingInputText{
	display: flex;
	align-items: center;
	background-color: #E1E1E1;
	font-family: 'poppins', 'arial';
	font-size: 14px;
	font-weight: 600;
	padding: 0px 20px;
	height: 45px;
	border-radius: 12px 0px 0px 12px;
}

#settingsBox .setting .settingInputBtn{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	font-family: 'poppins', 'arial';
	font-size: 15px;
	font-weight: 800;
	padding: 0px 20px;
	height: 45px;
	border-radius: 0px 12px 12px 0px;
	transition-duration: 0.4s;
}

#settingsBox .separation{
	width: 50px;
	height: 15px;
}

#settingsBox #liensBox{
	display: flex;
}

#settingsBox .liensBtn{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: auto;
	border-style: none;
	outline: none;
	background-color: transparent;
	padding: 0px;
	width: 50px;
	text-align: center;
	text-decoration: none;
}

#settingsBox .liensBtn .imgBox{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 10px;
	height: 30px;
	width: 30px;
	background-color: #FFEBCE;
}

#settingsBox .liensBtn .imgBox img{
	height: 20px;
	width: 20px;
}

#settingsBox .liensBtn p{
	font-family: 'poppins', 'arial';
	font-weight: 400;
	font-size: 12px;
	color: #CA5A04;
}

#settingsBox  #liensBox .separation{
	height: 50px;
	width: 30px;
}


body .mapContainer{
	position: absolute;
	top: 80px;
	left: 0%;
	z-index: 0;
}

.mapContainer img{
	margin-top: -90px;
    width: 500px;
}

#etage img {
	margin-top: -80px;
}

#salles0Box{
	position: absolute;
	top: 0%;
	left: 0%;
	margin-left: -20px;
	margin-top: -145px;
}

#salles1Box{
	position: absolute;
	top: 0%;
	left: 0%;
	margin-left: 0px;
	margin-top: -145px;
}

.salle{
	position: absolute;
	font-size: 12px;
	padding: 3px 7px;
	font-family: 'Poppins', arial;
	font-weight: 600;
	border-radius: 50px;
	background-color: rgba(163, 211, 255, 28%);
	color: #0086E7;
	backdrop-filter: blur(8px);
	white-space: nowrap;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
}

.focused{
	position: absolute;
	color: red;
	font-size: 13px;
	font-family: 'poppins', arial;
	font-weight: 700;
	font-weight: bold;
	background-color: rgba(57, 191, 35, 25%);
    color: #42FF00;
    font-size: 13px;
	padding: 3px 7px;
	border-radius: 50px;
	animation: blinker 1.2s linear infinite;
	backdrop-filter: blur(8px);
	transform: scale(1.1);
	white-space: nowrap;
}

.special{
	position: absolute;
	font-size: 13px;
	padding: 3px 7px;
	font-family: 'poppins', arial;
	font-weight: 600;
	border-radius: 50px;
	background-color: rgba(180, 153, 255, 40%);
	color: #4300FF;
	backdrop-filter: blur(8px);
}

@keyframes blinker {
  	0% {
   	opacity: 100;
 	 }

 	60% {
   	opacity: 100;
 	 }

 	80% {
   	opacity: 0;
 	 }
}

#calque{
	position: absolute;
	top: 765px;
	left: 380px;
	height: 38px;
	width: auto;
}

.menuBox{
	display: flex;
	flex-direction: row;
}

.optionButton{
	padding: 8px 8px 0px 8px;
	height: auto;
	width: 110px;
	background-color: white;
	border-style: none;
	outline: none;
	border-radius: 10px;
	font-family: poppins, arial;
	font-weight: 600;
	color: black;
	font-size: 15px;
	cursor: pointer;
	position: relative;
}

#ombreBleue{
	box-shadow: 0px 2px 15px rgba(5, 186, 255, 60%);
}

#ombreVerte{
	box-shadow: 0px 2px 15px rgba(73, 215, 163, 70%);
}

#ombreRose{
	box-shadow: 0px 2px 15px rgba(233, 110, 255, 60%);
}

#optionA{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 200;
	top: 0%;
	left: 0%;
}

.optionSeparation{
	width: 20px;
	height: 20px;
}

#erreurEntree{
	position: fixed;
	text-align: center;
	z-index: 1;
	background-color: rgba(255,255,255,0.4);
	backdrop-filter: blur(5px);
	border-radius: 18px;
	-webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);
	font-family: poppins, arial;
	font-size: 18px;
	font-weight: bold;
	padding: 8px 30px;
	color: red;
	top: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#erreurEntree img{
	position: relative;
	height: 25px;
	width: 25px;
	margin-left: 20px;
}

#indicationEtage{
	position: absolute;
	top: 100vh;
	left: 20px;
	z-index: 200;
	background-color: white;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 30%);
	padding: 7px 15px 7px 15px;
	font-family: poppins, arial;
	font-weight: 600;
	font-size: 16px;
	border-radius: 50px;
	height: 30px;
	display: flex;
	align-items: center;
}

#indicationEtage img{
	height: 15px;
	transform: rotate(-90deg);
	margin-left: 10px;
}

#etagePopupBackground{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 500px;
	height: 120vh;
	z-index: 1000000;
	background-color: rgba(255, 255, 255; 0.5);
	backdrop-filter: blur(10px);
	align-items: center;
	justify-content: center;
}

.closePopupBtn{
	position: absolute;
	top: 15px;
	right: 15px;
	background-color: transparent;
	border: none;
	outline: none;
}

#choixEtage{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 20px 0px 15px 0px;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 25%);
	border-radius: 20px;
	backdrop-filter: blur(20px);
	/*border: solid 0.5px #c4c4c4;*/
}


.choixEtageButton{
	font-family: poppins, arial;
	font-size: 20px;
	background-color: transparent;
	border-style: none;
	outline: none;
	padding: 5px 10px;
	margin: 0px 25px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
}
.choixEtageButton img{
	padding-right: 5px;
}

#ligneSeparation{
	background-color: #c4c4c4;
	width: 100%;
	height: 0.5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

::-webkit-scrollbar {
       width: 0px;
       background: transparent; /* make scrollbar transparent */
}

footer{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	bottom: 0%;
}

footer p{
	font-family: 'varela round', arial;
	font-size: 17px;
	display: flex;
	align-items: center;
}

footer img{
	height: 30px;
}

.optionImg{
	height: 70px;
}


#menu{
	display: none;
	position: fixed;
	background-color: white;
	border: 10px solid #E5F5F8;
	border-width: 0px;
	height: 400px;
	width: 100vw;
	max-width: 700px;
	z-index: 999;
	bottom: 0%;
	right: 0%;
	border-radius: 20px 20px 0px 0px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 40%);
	padding: 30px 20px 30px 20px;
}

#logoVivesMap{
	display: block;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

#openMenuButton{
	background-color: white;
	position: fixed;
	bottom: 0%;
	border: none;
	outline: none;
	width: 100%;
	right: 0%;
	height: 45px;
	border-radius: 20px 20px 0px 0px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 40%);
}

#openMenuButton img {
	height: 30px;
	transform: rotate(-90deg);
}

#closeMenuButton{
	position: absolute;
	height: 45px;
	width: 45px;
	top: 20px;
	right: 20px;
	font-family: 'varela round', arial;
	font-size: 30px;
	font-weight: bold;
	border-radius: 50px;
	background-color: #ebebeb;
	color: black;
	border: none;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;

}

.menuTitle{
	font-family: poppins, arial;
	font-weight: 700;
	font-size: 17px;
}


#flaubert{
	top: 690px;
	left: 158px;
}

#eiffel{
	top: 625px;
	left: 195px;
}

#daumier{
	top: 515px;
	left: 200px;
}

#colette{
	top: 435px;
	left: 220px;
}

#voltaire{
	top: 410px;
	left: 275px;
}

#tchekov{
	top: 840px;
	left: 245px;
	transform: rotate(73deg);
}

#sand{
	top: 828px;
	left: 292px;
	transform: rotate(73deg);
}

#rimbaud{
	top: 817px;
	left: 317px;
	transform: rotate(73deg);
}

#quesnay{
	top: 803px;
	left: 360px;
	transform: rotate(32deg);
}

#planck{
	top: 695px;
	left: 415px;
}

#ohm{
	top: 710px;
	left: 345px;
}

#mozart{
	top: 650px;
	left: 323px;
}

#marconi{
	top: 605px;
	left: 310px;
}

#newton{
	top: 605px;
	left: 385px;
}

#laplace{
	top: 530px;
	left: 385px;
}

#kepler{
	top: 495px;
	left: 325px;
}

#isabey{
	top: 445px;
	left: 320px;
}

#jacquard{
	top: 465px;
	left: 385px;
}

#gay-lussac{
	top: 365px;
	left: 350px;
}

#harvey{
	top: 365px;
	left: 438px;
}

#fleming{
	top: 295px;
	left: 433px;
}

#einstein{
	top: 303px;
	left: 361px;
}

#darwin{
	top: 230px;
	left: 432px;
}

#boole{
	top: 195px;
	left: 435px;
}

#becquerel{
	top: 160px;
	left: 425px;
}

#ampère{
	top: 160px;
	left: 355px;
}

#cuvier{
	top: 205px;
	left: 363px;
}

#pasteur{
	top: 205px;
	left: 215px;
}

#de-gennes{
	top: 205px;
	left: 135px;
}

#bach{
	top: 300px;
	left: 227px;
}

/* etage 1 */

#molière{
	top: 620px;
	left: 53px;
}

#kipling{
	top: 565px;
	left: 72px;
}

#ibsen{
	top: 506px;
	left: 95px;
}

#nabokov{
	top: 635px;
	left: 157px;
}

#lamartine{
	top: 580px;
	left: 170px;
}

#jussieu{
	top: 530px;
	left: 193px;
}

#hérodote{
	top: 438px;
	left: 203px;
}

#froissart{
	top: 391px;
	left: 211px;
}

#dumas{
	top: 335px;
	left: 220px;
}

#baudelaire{
	top: 280px;
	left: 215px;
}

#apollinaire{
	top: 270px;
	left: 115px;
}

#chenier{
	top: 328px;
	left: 117px;
}

#euripide{
	top: 383px;
	left: 108px;
}

#giraudoux{
	top: 434px;
	left: 95px;
}

#kafka{
	top: 705px;
	left: 278px;
}

#nerval{
	top: 830px;
	left: 240px;
	transform: rotate(70deg);
}

#leibniz{
	top: 815px;
	left: 278px;
	transform: rotate(70deg);
}

#joinville {
	top: 805px;
	left: 310px;
	transform: rotate(70deg);
}

#ingres{
	top: 760px;
	left: 353px;
}

#hugo{
	top: 678px;
	left: 367px;
}

#galilée{
	top: 620px;
	left: 353px;
}

#fermat{
	top: 565px;
	left: 343px;
}

#erasme{
	top: 515px;
	left: 333px;
}

#dante{
	top: 431px;
	left: 351px;
}

#copernic{
	top: 382px;
	left: 342px;
}

#budé{
	top: 335px;
	left: 355px;
}

#avicenne{
	top: 284px;
	left: 345px;
}

#stendhal{
	top: 140px;
	left: 265px;
}

#pascal{
	top: 140px;
	left: 208px;
}

#cervantes{
	top: 140px;
	left: 135px;
}


#cdi{
	top: 760px;
	left: 200px;
}

#cafetaria{
	top: 445px;
	left: 130px;
}

#infirmerie{
	top: 854px;
	left: 130px;
	transform: rotate(-15deg);
}

#cpe1{
	top: 730px;
	left: 210px;
}

#cpe2{
	top: 842px;
	left: 202px;
	transform: rotate(70deg);
}




#layerToilet1{
	position: absolute;
	height: 35px;
	width: 42px;
	z-index: 500;
	top: 294px;
	left: 135px;
}

#layerToilet2{
	position: absolute;
	height: 40px;
	width: 25px;
	z-index: 500;
	top: 627px;
	left: 397px;
}

#layerToilet3{
	position: absolute;
	height: 22px;
	width: 51px;
	z-index: 500;
	top: 110px;
	left: 346px;
}

#layerToilet4{
	position: absolute;
	height: 25px;
	width: 70px;
	z-index: 500;
	top: 375px;
	left: 200px;
}

#layerToilet5{
	position: absolute;
	height: 43px;
	width: 30px;
	z-index: 500;
	top: 600px;
	left: 385px;
}

#layerStairs1{
	position: absolute;
	height: 30px;
	width: 35px;
	z-index: 500;
	top: 250px;
	left: 180px;
}

#layerStairs2{
	position: absolute;
	height: 25px;
	width: 25px;
	z-index: 500;
	top: 483px;
	left: 260px;
	transform: rotate(180deg);
}

#layerStairs3{
	position: absolute;
	height: 25px;
	width: 25px;
	z-index: 500;
	top: 680px;
	left: 100px;
	transform: rotate(-90deg);
}

#layerStairs4{
	position: absolute;
	height: 25px;
	width: 25px;
	z-index: 500;
	top: 550px;
	left: 35px;
	transform: rotate(-65deg);
}

#layerStairs5{
	position: absolute;
	height: 25px;
	width: 18px;
	z-index: 500;
	top: 310px;
	left: 370px;
	transform: rotate(90deg);
}

#layerStairs6{
	position: absolute;
	height: 25px;
	width: 15px;
	z-index: 500;
	top: 635px;
	left: 310px;
	transform: rotate(-105deg);
}

#layerStairs7{
	position: absolute;
	height: 25px;
	width: 35px;
	z-index: 500;
	top: 100px;
	left: 190px;
}

#layerStairs8{
	position: absolute;
	height: 25px;
	width: 25px;
	z-index: 500;
	top: 378px;
	left: 300px;
	transform: rotate(180deg);
}

#layerStairs9{
	position: absolute;
	height: 25px;
	width: 25px;
	z-index: 500;
	top: 640px;
	left: 95px;
	transform: rotate(-110deg);
}

#layerStairs10{
	position: absolute;
	height: 25px;
	width: 35px;
	z-index: 500;
	top: 525px;
	left: 35px;
	transform: rotate(-75deg);
}

#layerStairs11{
	position: absolute;
	height: 25px;
	width: 25px;
	z-index: 500;
	top: 175px;
	left: 425px;
	transform: rotate(90deg);
}

#layerStairs12{
	position: absolute;
	height: 25px;
	width: 15px;
	z-index: 500;
	top: 600px;
	left: 315px;
	transform: rotate(-105deg);
}